/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

/*container*/

.container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.container h1{
    font-size: 80px;
    color: #000;
    border-bottom: 3px solid #000;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.photo{
    padding-bottom: 50px;
}

.container h2{
    font-size: 32px;
    color: #000;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.container span{
    font-size: 24px;
    color: #A00404;
}

.container ul li{
    font-size: 24px;
    line-height: 36px;
    color: #000;
    margin-bottom: 30px;
}


.skill{
    background: #415165;
    padding-bottom: 30px;
}

.inner{
    width: 800px;
    margin: 0 auto;
}

.inner h2{
    font-size: 32px;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.inner span{
    font-size: 24px;
    color: #fff;
}

.skill ul{
    border-left: 2px solid #fff;
    padding-left: 20px;
    margin-left: 300px;
}

.skill ul li{
    font-size: 24px;
    color: #fff;
}

.container h3{
    font-size: 24px;
    color: #000;
}

.container img{
    margin-bottom: 20px;
}

.container p{
    margin-right: 435px;
}

.experience ul{
    border-left: 2px solid #000;
    padding-left: 20px;
    margin-left: 30px;
}

.footer{
    background: #415165;
}

.footer ul{
    text-align: center;
}

.footer ul li{
    font-size: 24px;
    color: #fff;
}

.community{
   display: flex;
   justify-content: center;
}

.community li{
    padding-left: 30px;
}